@use "variables";
/* RESETEO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* MAIN */
main {
    width: 95%;
    margin: 20px auto;
}
/* BODY */
body {
    font-family: 'Poppins', sans-serif;
    background-color: variables.$color-fondo;
    color: variables.$color-texto;
}
/* SECCIONES */
section {
    background-color: white;
    margin-bottom: 35px;
    padding: 30px;
    border-radius: 10px;
}

p {
    line-height: 1.6;
}
/* HERO */
.hero {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 40px;

    h2 {
        @extend .titulo-base;
        font-size: 32px;
    }

    p {
        font-size: 18px;
        line-height: 1.8;
    }
}
/* PAGINA ESTUDIOS */
.estudios {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
/* PAGINA NOSOTROS */
.nosotros {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
/* TITULOS */
.titulo-base {
    color: variables.$color-principal;
    margin-bottom: 20px;
}
h2 {
    @extend .titulo-base;
    font-size: 2rem;
}

h3 {
    color: variables.$color-secundario;
    margin-bottom: 10px;
}
/* IMAGENES */
img {
    max-width: 100%;
    height: auto;
}
/* MEDIA QUERIES */
@media (min-width: 768px) {
    main {
        width: 90%;
        max-width: 1200px;
        margin: 40px auto;
    }
    header {
        padding: 20px;
    }
    .logo img {
        width: 150px;
    }
    header h1 {
        font-size: 38px;
    }
    header p {
        font-size: 18px;
    }
}
/* ICONO WHATSAPP */
.whatsapp {
    width: 60px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    transition: transform .3s;

    &:hover {
        transform: scale(1.30);
    }
}