@use "variables";

/* FORMULARIOS */
form {
    margin-top: 20px;
}
label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}
input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid variables.$color-borde;
    border-radius: 8px;
    font-family: inherit;
}

/* CHECKBOX */
input[type="checkbox"] {
    width: auto;
    padding: 0;
    margin: 0 8px 0 0;
    vertical-align: middle;
}

/* BOTÓN */
button,
button.btn {
    margin-top: 20px;
    background: variables.$color-principal;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
}
button:hover,
button.btn:hover {
    background: variables.$color-secundario;
}